<link rel="stylesheet" href="/css/home.css">
<div id="home-container">

    <section id="posts-feed">
        <% if(locals.user){%>
            <h3>Post</h3>
            <form id="new-post-form" action="/posts/create" method="post" enctype="multipart/form-data">
                <input type="file" name="photo" placeholder="post-pic">
                <textarea name="caption" id="" cols="30" rows="3"></textarea>
                <input type="submit" value="Post">
            </form>
        <%} %>
        
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){%>
                        <div>
                            <%- include('_post') %>
                        </div>
                            
                    <%} %>
                </ul>
            </div>
    
    </section>
    
    <section id="user-N-friends">
        <div>
            <%if(locals.user){%>
                <h4>Users</h4>
                <% for(u of users){%>
                    <p>
                        <a href="/users/profile/<%= u.id%>"><%= u.name%></a>
                    </p>    
                <%} %>    
            <%}%>
        </div>
    
    </section>

</div>

<script src="/js/home_post.js"></script>
<script src="/js/post_comment.js"></script>