<link rel="stylesheet" href="/css/landing_page.css">

<div id="landing-container">

    
        <div id="logo-container">
            <img src="/images/logo.jpg" alt="">
        </div>

        <div id="divider">

        </div>
        
        <div id="all-login-options">
            <div class="for-hover">
                <a class="links" href="/users/signup">Sign Up</a>
            </div>
            <div class="for-hover">
                <a class="links" href="/users/signin">Sign In</a>
            </div>
            <hr>
            <div style="background-color: rgb(156, 16, 16);">
                <a class="links" href="/users/auth/google"> <i class="fab fa-google"></i>&nbsp;Google</a>
            </div>
            <div style="background-color: black;">
                <a class="links" href="/users/auth/github"><i class="fab fa-github"></i>&nbsp;GitHub</a>
            </div>
        </div>
    
</div>