<h1><%= title%></h1>


<%if(access){%>
    <form action="/users/update-password/<%= accessToken%>" method="post">
        <label for="newPassword">New Password: </label>
        <input type="password" name="newPassword" required>
        <br>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" required>
        <input type="submit" value="Submit">
    </form>
<%}else{%>
    <form action="/users/set-password-mail" method="post">
        <label for="yourEmail">Enter Your Email:</label>
        <input type="email" name="yourEmail" required>
        <input type="submit" value="Submit">
    </form>
    
    
<%}%>