<link rel="stylesheet" href="/css/user_profile.css">

<h1>
    <img src="<%= profile_user.avatar%>" width="200" height="150" alt="Image">

    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
</h1>