<div>
    <p>Hii!! <%=user.name%></p>
    <p>Use this link to change password: <a href="http://localhost:8000/users/set-password/<%=user.accessToken%>">CLICK HERE</a></p>
    <p>Or paste this link in your browers: http://localhost:8000/users/set-password/<%=user.accessToken%></p>
    <p>Thanks</p>
</div>