header{
    margin: 0;
    background-color: rgb(7, 7, 56);
    font-family: sans-serif;
}

#header-nav{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    color: white;
    font-size: larger;
    padding: 1%;
}

#links{
    display: flex;
    justify-content: end;
    gap: 8px;
}

#links a{
    text-decoration: none;
    color: white;
}

#heading{
    font-weight: bolder;
    font-size: x-large;
}

#heading a{
    text-decoration: none;
    color: white;
}