#home-container{
    display: flex;
}
#users-friends{
    width: 25%;
    padding: 10px;
    border-right: 2px solid gray;
}

#posts-feed{
    width: 50%;
    padding: 10px;
}

#user-N-friends{
    width: 30%;
    padding: 10px;
    border-left: 2px solid gray;
}